body{
    background-image: url("../images/world.jpg");
    background-size: 100%;
    
}
.jumbotron{
    background-color:transparent;
    color:white;
}
.card{
    background-color: transparent;
    color: white;
}
#buttons{
    align-self: center;
}
#contentDisplay{
    color: white;
}