body{
    background-image: url("../images/world.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.jumbotron{
    background-color:transparent;
    color:white;
}
.card{
    background-color: white;
    color: black;
}
#buttons{
    align-self: center;
}
#contentDisplay{
    color: white;
}
#weather-table{
    color: red;
    background-color: blue;
}