body{
    background-image: url("../images/world.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.navbar{
    background-color: darkslateblue;
    border-color: black;
    border: 10px;
}
.jumbotron{
    background-color:transparent;
    color:white;
}
.card{
    background-color: white;
    color: black;
}
.card-body{
    border-color: #343a40!important;
}
#buttons{
    align-self: center;
}
/* #contentDisplay{
    color: white;
} */

#cardImage {
    width: 5%;
}
/* #weather-table{
    color: navajowhite;
    background-color: #343a40;;
} */
